@model Galaxy.Entities.Document
@section styles{
    <link href="~/lib/AdminLTE/plugins/iCheck/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/AdminLTE/plugins/select2/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/base.css" rel="stylesheet" asp-append-version="true" />
    <!--editor.md-->
    <link href="~/lib/editor.md/css/editormd.min.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts{
    <script src="~/lib/AdminLTE/plugins/select2/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/lib/AdminLTE/plugins/iCheck/icheck.min.js" asp-append-version="true"></script>
    <script src="~/js/base.js" asp-append-version="true"></script>
    <!--editor.md-->
    <script src="~/lib/editor.md/lib/marked.min.js" asp-append-version="true"></script>
    <script src="~/lib/editor.md/lib/prettify.min.js" asp-append-version="true"></script>
    <script src="~/lib/editor.md/lib/raphael.min.js" asp-append-version="true"></script>
    <script src="~/lib/editor.md/lib/underscore.min.js" asp-append-version="true"></script>
    <script src="~/lib/editor.md/lib/sequence-diagram.min.js" asp-append-version="true"></script>
    <script src="~/lib/editor.md/lib/flowchart.min.js" asp-append-version="true"></script>
    <script src="~/lib/editor.md/lib/jquery.flowchart.min.js" asp-append-version="true"></script>
    <script src="~/lib/editor.md/editormd.min.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Document/Preview.js" asp-append-version="true"></script>
}

<div class="content-wrapper" id="mainDiv" style="min-height: 935px;">
    <section class="content-header">
        <h1>
            <span>我的文章</span>
            <small id="title_sm">预览</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">系统管理</a></li>
            <li class="active">我的文章</li>
        </ol>
    </section>
    <section class="content">
        <div class="row form-horizontal">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header text-center">
                        <div clas="form-group">
                            <label id="title" style="font-size:21px;font-weight:normal">@Model.Title</label>
                        </div>
                        <div clas="form-group">
                            <label style="font-weight: normal">关键字：</label>
                            <label id="keywords">@Model.KeyWords</label>
                        </div>
                    </div>
                    <div clas="box-body">
                        <div id="editormd" class="markdown-body editormd-html-preview">@Html.Raw(Model.Content)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-fixed-middle">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title" style="padding-right:20px;"><i class="fa fa-hand-o-left">&nbsp;文章目录</i></h4>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="padding-left:0">
                    <div id="custom-toc-container" previewcontainer="false">
                        
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </section>
</div>
<input type="hidden" id="mid" value="@Model.Id" />

