@section styles{
    <link href="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/AdminLTE/plugins/iCheck/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/AdminLTE/plugins/select2/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrapvalidator/dist/css/bootstrapValidator.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/base.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/wangEditor/dist/css/wangEditor.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts{
    <script src="~/lib/AdminLTE/plugins/datepicker/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/lib/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js" asp-append-version="true"></script>
    <script src="~/lib/AdminLTE/plugins/select2/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrapvalidator/dist/js/bootstrapValidator.min.js" asp-append-version="true"></script>
    <script src="~/lib/AdminLTE/plugins/iCheck/icheck.min.js" asp-append-version="true"></script>
    <script src="~/js/base-message.js" asp-append-version="true"></script>
    <script src="~/js/base.js" asp-append-version="true"></script>
    <script src="~/lib/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!--用于附件上传回填使用-->
    <script src="~/lib/bootstrap-fileinput/js/fileinput.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-fileinput/js/locales/zh.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/base-file.js" asp-append-version="true"></script>
    <script src="~/lib/wangEditor/dist/js/wangEditor.min.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Message/Add.js" asp-append-version="true"></script>
}

<div class="content-wrapper" id="mainDiv" style="min-height: 935px;">
    <section class="content-header">
        <h1>
            消息管理
            <small>新建消息</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">系统工具</a></li>
            <li class="active">消息管理</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <button data-btn-type="titleBtn" data-flag="new" class="btn btn-primary btn-block margin-bottom">返回收件箱</button>
                @Html.Partial("~/Views/Shared/MessageMenu")
                @*<div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">我的文件夹</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding" id="folder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="" data-btn-type="inbox" data-url="/message/inbox">
                                <a href="#">
                                    <i class="fa fa-inbox"></i>
                                    <span>收件箱</span>
                                    <span class="label label-primary pull-right">1</span>
                                </a>
                            </li>
                            <li data-btn-type="sent" data-url="/message/sent">
                                <a href="#">
                                    <i class="fa fa-envelope-o"></i>
                                    <span>发件箱</span>
                                    <span class="label label-info pull-right">6</span>
                                </a>
                            </li>
                            <li data-btn-type="draft" data-url="/message/draft">
                                <a href="#">
                                    <i class="fa fa-file-text-o"></i>
                                    <span>草稿箱</span>
                                    <span class="label label-warning pull-right">4</span>
                                </a>
                            </li>
                            <li data-btn-type="trash" data-url="/message/trash">
                                <a href="#">
                                    <i class="fa fa-trash-o"></i>
                                    <span>回收站</span>
                                    <span class="label label-danger pull-right">0</span>
                                </a>
                            </li>
                            <!--<li data-btn-type="receiver" data-url="/message/receiver"><a href="#"><i class="fa fa-user-o"></i>
                                <span>收件人管理</span>
                                <span class="label label-default pull-right">0</span></a></li>-->
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">消息类型</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-tv text-danger"></i>系统消息</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o text-info"></i>邮件</a></li>
                            <li><a href="#"><i class="fa fa-mobile text-success fa-lg"></i>&nbsp;短信</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">消息标记</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-star-o text-yellow"></i> 一般消息</a></li>
                            <li><a href="#"><i class="fa fa-star text-yellow"></i> 重要消息</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>*@
            </div>
            <div class="col-md-9">
                <div class="box box-primary" id="contentBody">
                    <form id="message_form" name="message_form" class="form-horizontal bv-form" enctype="multipart/form-data" novalidate="novalidate">
                        <input type="hidden" name="id">
                        <input type="hidden" name="version">
                        <input type="hidden" name="createDateTime" data-flag="date" data-format="yyyy-mm-dd hh:ii:ss">
                        <input type="hidden" name="deleted" value="0">
                        <input type="hidden" value="adeb1520-0b8c-4454-b4c8-f46f42f960cc" id="csrftoken">
                        <input type="hidden" name="fileIds" id="fileIds">
                        <!--<div class="box-header with-border">
                            <h3 class="box-title">新建消息</h3>
                        </div>-->
                        <div class="box-body">
                            <div class="col-md-12">
                                <input type="hidden" name="receiverType" id="receiverType">
                                <input type="hidden" name="receiverIds" id="receiverIds">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input readonly="" id="receiverUsers" placeholder="接收人" class="form-control">
                                        <div class="input-group-addon">
                                            <a href="#" data-btn-type="receiver_select"><i class="fa fa-users"></i>&nbsp;&nbsp;选择接收人</a>
                                            <!-- <i class="fa fa-users" title="点击此按钮选择接收人"></i>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="sendSubject" name="sendSubject" placeholder="标题，请控制在100字以内" />
                                </div>

                                <div class="form-group">
                                    <!-- <label class="col-sm-2 control-label">消息类型<span style="color:red">*</span></label>-->
                                    <div class="col-sm-6">
                                        <label class="control-label"> 
                                            <div class="icheckbox_square-green checked" aria-checked="false" aria-disabled="false" style="position: relative;">
                                                <input type="checkbox" name="messageType" data-flag="icheck" class="square-green" checked="" value="0" style="position: absolute; opacity: 0;" />
                                            </div>&nbsp;&nbsp;系统消息
                                        </label>
                                        &nbsp;
                                        <label class="control-label"> 
                                            <div class="icheckbox_square-green" aria-checked="false" aria-disabled="false" style="position: relative;">
                                                <input type="checkbox" name="messageType" data-flag="icheck" class="square-green" value="1" style="position: absolute; opacity: 0;">
                                            </div> &nbsp;&nbsp;邮件 
                                            </label>&nbsp;
                                        <label class="control-label">
                                                <div class="icheckbox_square-green disabled" aria-checked="false" aria-disabled="true" style="position: relative;">
                                                    <input type="checkbox" name="messageType" data-flag="icheck" class="square-green" disabled="" value="2" style="position: absolute; opacity: 0;" />
                                                </div> &nbsp;&nbsp;短信
                                        </label>
                                    </div>
                                    <!-- <label class="col-sm-2 control-label">消息标记<span style="color:red">*</span></label>-->
                                    <div class="col-sm-6">
                                        <label class="control-label"> 
                                            <div class="iradio_square-grey checked" aria-checked="false" aria-disabled="false" style="position: relative;">
                                                <input type="radio" name="messageFlag" data-flag="icheck" class="square-grey" checked="" value="0" style="position: absolute; opacity: 0;" />
                                            </div> &nbsp;&nbsp;一般消息
                                        </label>&nbsp;
                                        <label class="control-label"> 
                                            <div class="iradio_square-yellow" aria-checked="false" aria-disabled="false" style="position: relative;">
                                                <input type="radio" name="messageFlag" data-flag="icheck" class="square-yellow" value="1" style="position: absolute; opacity: 0;" />
                                            </div> &nbsp;&nbsp;重要消息
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--WangEditor-->
                                    <div id="editor" style="height:400px;">
                                        <p>请输入消息内容...</p>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <div class="btn btn-default btn-file" id="uploadFile">
                                        <i class="fa fa-paperclip"></i> 上传附件(Max. 10MB)
                                    </div>
                                </div>-->
                                <div class="form-group" id="file_container">
                                    <input id="attachment" type="file" multiple class="file-loading">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-btn-type="save_draft">
                                    <i class="fa fa-pencil"></i> 保存为草稿
                                </button>
                                <button type="submit" class="btn btn-primary" data-btn-type="send">
                                    <i class="fa fa-envelope-o"></i> 发送
                                </button>
                            </div>
                            <button type="reset" class="btn btn-default" data-btn-type="cancel_draft">
                                <i class="fa fa-times"></i> 取消
                            </button>
                        </div>
                        <input type="hidden" value=""><input type="hidden" value="">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>